h1, h2, h3, h4, h5, h6 {
  font-family: "Lora", serif;
}

body,
html {
  height: 100%;
}

.wrapper {
  height: auto;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.layout {
  position: absolute;
  z-index: 10;
  left: 50px;
  width: calc(100% - 50px);
  height: 100% !important;
}
.layout__header {
  position: relative;
  padding: 1em 0;
  border-bottom: 1px solid #EBEBEB;
}
.layout__body {
  position: relative;
  height: 100%;
}
.layout__col {
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  padding: 1em;
}
.layout__col--left {
  border-right: 1px solid #EBEBEB;
}

.diable-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.range {
  position: relative;
  width: 100%;
  height: 24px;
}
.range__thumb {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #A6833C;
  top: -3px;
  left: 0;
  z-index: 5;
  cursor: pointer;
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.15);
}
.range__track {
  position: absolute;
  width: 100%;
  height: 16px;
  z-index: 1;
  top: 0;
  left: 0;
  background: #441C16;
  border-radius: 16px;
}

.zoom {
  width: 323px;
  height: 200px;
  position: relative;
  overflow: hidden;
}
.zoom .zoom-area,
.zoom .zoom-template {
  position: absolute;
  width: 323px;
  height: 200px;
}
.zoom .zoom-area {
  background-color: yellowgreen;
  opacity: 0;
  z-index: 50;
  cursor: move;
}
.zoom .zoom-template {
  z-index: 40;
  display: none;
}
.zoom .zoom-inner {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}
.zoom .zoom-container {
  position: relative;
  margin: 0 auto;
  width: 323px;
  height: 200px;
}
.zoom .zoom-mask {
  display: block;
  width: 323px;
  height: 200px;
  overflow: hidden;
  position: relative;
}
.zoom .zoom-image {
  position: absolute;
  top: 0;
  left: 0;
}
.zoom .zoom-image.zoom-image-overlay {
  opacity: 0.3;
  cursor: move;
}

.widgets__item {
  height: auto;
  overflow: hidden;
  margin-bottom: 1em;
}
.widgets__item label {
  margin-bottom: 1em;
  text-transform: uppercase;
  font-size: 12px;
}
.widgets__item label .fa {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 18px;
  text-align: center;
  color: white;
  background: #A6833C;
  border-radius: 50%;
  margin-right: 0.5em;
}

.filter-list {
  display: table;
  width: 100%;
  text-align: center;
}
.filter-list__item {
  display: table-cell;
  padding: 1em;
  text-align: center;
  border-right: 1px solid #EBEBEB;
  background: #F5F5F5;
}
.filter-list__name {
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}
.filter-list__name input {
  margin-right: 0.5em;
}

.filter-black-white {
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: url(#greyscale);
          filter: url(#greyscale);
  -webkit-filter: gray;
          filter: gray;
}

.filter-sepia {
  filter: url(sepia.svg#old-timey);
  -webkit-filter: sepia(1);
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
  background-color: #5E2612;
  filter: alpha(opacity=50);
  zoom: 1;
}

.font .control-label {
  padding-left: 0;
  font-size: 14px;
  text-transform: inherit;
}

.ff-stack.serif-a {
  font-family: "Times New Roman", Times, serif;
}
.ff-stack.serif-b {
  font-family: Georgia, serif;
}
.ff-stack.sans-a {
  font-family: Arial, Helvetica, sans-serif;
}
.ff-stack.sans-b {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.ff-stack.sans-c {
  font-family: Impact, Charcoal, sans-serif;
}

.label-body {
  width: 323px;
  height: 640px;
  background: url("../images/etiqueta.png") no-repeat;
}
.label-body__header {
  top: 240px;
  height: 100px;
  position: relative;
}
.label-body__middle {
  position: relative;
  margin-top: 250px;
}
.label-body__footer {
  height: 50px;
}

.header-headline {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  font-size: 18px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.left-bar {
  position: fixed;
  z-index: 20;
  width: 100%;
  height: auto;
  min-height: 100%;
}
.left-bar--collapsed {
  width: 50px;
}
.left-bar__overlay {
  position: fixed;
  z-index: 80;
  display: none;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #000;
}
.left-bar__thin {
  position: fixed;
  z-index: 90;
  left: 0;
  width: 50px;
  height: 100%;
  background-color: #441C16;
  -webkit-perspective: 1700px;
          perspective: 1700px;
  -webkit-perspective-origin: 0 50%;
          perspective-origin: 0 50%;
}
.left-bar__wide {
  position: fixed;
  z-index: 100;
  top: 0;
  left: -700px;
  overflow: hidden;
  width: 700px;
  height: 100%;
  background-color: #fff;
}
.left-bar__close {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  -webkit-perspective: 1700px;
          perspective: 1700px;
  -webkit-perspective-origin: 0 50%;
          perspective-origin: 0 50%;
}
.left-bar__close .close-button {
  position: fixed;
  top: 0;
  left: -50px;
  display: block;
  transition: background-color 250ms ease-in-out;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  background-color: #441C16;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.left-bar__close .close-button:hover {
  background-color: #592F28;
}

.logo {
  width: 100%;
  transition: background-color 250ms ease-in-out;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  background-color: #441C16;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.logo__image {
  display: block;
  width: 50px;
  height: 124px;
  text-indent: -9999px;
  color: transparent;
  background: #441C16 url("../images/th-logo.svg") no-repeat center center;
}
.logo:hover {
  background-color: #2E0D08;
}

.spread-menu {
  position: relative;
  height: 100%;
  text-align: center;
}
.spread-menu__header {
  padding: 1em 0;
}

.logo-header__image {
  display: inline-block;
  width: 144px;
  height: 120px;
  text-indent: -9999px;
  background: url("../images/th-logo-wide.svg") no-repeat center center;
}

.nav-types {
  padding: 1em;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  background: #FFFFFF;
}
.nav-types__title {
  display: inline-block;
  text-transform: uppercase;
}

.type-list {
  display: table;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.type-list__item {
  display: table-cell;
  vertical-align: middle;
  background: transparent;
}

.type-item {
  display: inline-block;
  overflow: hidden;
  height: auto;
}
.type-item__name {
  font-size: 12px;
  display: inline-block;
  text-transform: uppercase;
  color: #666666;
}
.type-item__name:hover {
  color: #A6833C;
}

.social-media {
  padding: 1em 0;
}
.social-media__title {
  font-size: 14px;
  margin-bottom: 1em;
}
.social-media__item {
  line-height: 32px;
  display: inline-block;
  width: 32px;
  height: 32px;
  text-align: center;
  color: white;
  border-radius: 50%;
  background: #A6833C;
}
.social-media__item:hover {
  text-decoration: none;
  color: white;
  background-color: #CBAB68;
}

.footer {
  padding: 1em;
  color: #441C16;
  border-top: 1px solid #EBEBEB;
}

.footer-links {
  display: table;
  width: 100%;
  text-align: center;
}
.footer-links__item {
  font-family: "Lora", serif;
  font-size: 11px;
  display: inline-block;
  padding: 0 .5em;
  vertical-align: middle;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #666666;
}
.footer-links a {
  font-family: "Lora", serif;
  font-size: 11px;
  display: inline-block;
  text-transform: uppercase;
  color: #666666;
}
.footer-links a:hover {
  color: #441C16;
}

.timeline {
  display: block;
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
.timeline__step {
  display: inline-block;
  padding: 0 1.25em;
  text-align: center;
  vertical-align: middle;
  opacity: .35;
}
.timeline__step--active {
  opacity: 1;
}

.step {
  font-family: "Lora", serif;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
}
.step__dot {
  font-size: 10px;
  line-height: 24px;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
  border-radius: 50%;
  background-color: #A6833C;
}
.step__label {
  font-size: 11px;
  font-weight: 300;
  display: inline-block;
  width: 100%;
  margin-top: .25em;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #666666;
}
