body,
html {
	height: 100%;
}

.wrapper {
	height: auto;
	min-height:100%;
	margin: 0;
	padding: 0;
}

.layout {
	position: absolute;
	width: calc(100% - 50px);
	height: 100% !important;
	left: 50px;
	@include element ('top') {
		position: relative;
		padding: 1em;
		height: 40px;
		border-bottom: 1px solid color('white','shade');
	}
	@include element ('row') {
		position: relative;
		height: 100%;
		@include element('col') {
			position: relative;
			width: 50%;
			float: left;
			padding: 1em;
		}
	}
}
.diable-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.range {
  position: relative;
  width: 100%;
  height: 24px;
	@include element('thumb') {
		position: absolute;
		width: 24px;
		height: 24px;
		background-color: color('gold');
		top: -3px;
		left: 0;
		z-index: 5;
		cursor: pointer;
		border: 5px solid white;
		border-radius: 50%;
		box-shadow : 0px 0px 1px 0px rgba(0,0,0,0.15);
	}
  	@include element('track') {
  		position: absolute;
  		width: 100%;
  		height: 16px;
  		z-index: 1;
  		top: 0;
  		left: 0;
  		background: color('wine');
  		border-radius: 16px;
  	}
}
.zoom {
  width: 323px;
  height: 200px;
  position: relative;
  overflow: hidden;
  .zoom-area,
  .zoom-template {
  	position: absolute;
  	width: 323px;
  	height: 200px;
  }
  .zoom-area {
  	background-color: yellowgreen;
  	opacity: 0;
  	z-index: 50;
  	cursor: move;
  }
  .zoom-template {
  	z-index: 40;
  	display: none;
  }
  .zoom-inner {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
  }

  .zoom-container {
    position: relative;
    margin: 0 auto;
    width: 323px;
    height: 200px;
  }

  .zoom-mask {
    display: block;
    width: 323px;
    height: 200px;
    overflow: hidden;
    position: relative;
  }

  .zoom-image {
    position: absolute;
    top: 0;
    left: 0;
    &.zoom-image-overlay {
      opacity: 0.3;
      cursor: move;
    }
  }
}

.widgets {
	@include element('item') {
		height: auto;
		overflow: hidden;
		margin-bottom: 1em;
		label {
			margin-bottom: 1em;
			text-transform: uppercase;
			font-size: 12px;
			.fa {
				width: 32px;
				height: 32px;
				line-height: 32px;
				font-size: 18px;
				text-align: center;
				color :white;
				background: color('gold');
				border-radius : 50%;
				margin-right: 0.5em;
			}
		}
	}

}

.filter-list {
	display: table;
	width: 100%;
	text-align: center;
	@include  element ('item') {
		display: table-cell;
		padding: 1em;
		text-align: center;
		border-right: 1px solid color('white','shade');
		background: color('white','tint');
	}
	@include  element ('name') {
		display: inline-block;
		width: 100%;
		text-transform: uppercase;
		font-size: 11px;
		font-weight: bold;
		input {
			margin-right: 0.5em;
		}
	}
}

.filter-black-white {
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(#greyscale);
  filter: gray;
}
.filter-sepia {
  filter: url(sepia.svg#old-timey);
  -webkit-filter: sepia(1);
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
  background-color: #5E2612;
  filter: alpha(opacity = 50);
  zoom:1;
}

.font {
	.control-label {
		padding-left: 0;
		font-size: 14px;
		text-transform: inherit;
	}
}

.ff-stack {
	&.serif-a {
		font-family: "Times New Roman", Times, serif;
	}
	&.serif-b {
		font-family: Georgia, serif;
	}
	&.sans-a {
		font-family: Arial, Helvetica, sans-serif;
	}
	&.sans-b {
		font-family: "Comic Sans MS", cursive, sans-serif;
	}
	&.sans-c {
		font-family: Impact, Charcoal, sans-serif;
	}

}

.label-body {
	width: 323px;
	height: 640px;
	background: url('../images/etiqueta.png') no-repeat;

	@include element ('header') {
		top: 240px;
		height: 100px;
		position: relative;
	}
	@include element('middle') {
		position: relative;
		margin-top: 250px;
	}
	@include element ('footer') {
		height: 50px;
	}
}
.header-headline {
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	font-size: 18px;
	transform: translate(-50%, -50%);
}